// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "*";

#yield{
    padding-top: 30px;
}

.icon{
      width: 30px;
      height: 30px;
}